@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.main_cart {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px
}

strong {
    font-weight: bold;
}

.product_name {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


/* 
input,
button {
    border: 0 none;
    outline: 0 none;
} */

button {
    background-color: rgb(146, 16, 163);
    color: #fff;
}

button:hover,
button:focus {
    background-color: rgb(172, 25, 172);
}

img,
.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
    float: left;
}

.price:after,
.subtotal:after,
.subtotal-value:after,
.total-value:after {
    content: ' DT';
}

.hide {
    display: none;
}

main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
}

.basket {
    width: 70%;
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-module {
    color: #111;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

.basket-labels {
    border-top: 1px solid #690483;
    border-bottom: 1px solid #690483;
    margin-top: 1.625rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
    content: '';
}

.item {
    width: 35%;
}

.price,
.quantity,
.subtotal,
.remove_cart_btn {
    width: 16%;
}

.subtotal {
    text-align: right;
}

.item-heading {
    padding-left: 5.375rem;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

.basket-product {
    border-bottom: 1px solid rgb(176, 37, 194);
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-frame {
    border: 1px solid rgb(176, 37, 194);
}

.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color: #3ab5db;
    border: 1px solid #3ab5db;
    border-radius: 4px;
    font-size: 20px;
    padding: 2px;
    width: 60px;
}

aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    background-color: rgb(204, 46, 204);
    border: 1px solid rgb(204, 46, 204);
    padding: 1rem;
    position: relative;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid rgb(204, 46, 204);
    border-bottom: 1px solid rgb(204, 46, 204);
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    color: #111;
    float: left;
    width: 50%;
}

.summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.promo-title {
    float: left;
    width: 70%;
}

.promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    display: block;
    float: none;
    font-size: 14px;
    text-align: center;
    padding: 0.625rem 0;
    width: 100%;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item,
    .remove_cart_btn {
        width: 100%;
    }
    .basket-labels {
        display: none;
    }
    .basket-module {
        margin-bottom: 1rem;
    }
    .item {
        margin-bottom: 1rem;
    }
    .product-image {
        width: 40%;
    }
    .product-details {
        width: 60%;
    }
    .price,
    .subtotal {
        width: 33%;
    }
    .quantity {
        text-align: center;
        width: 34%;
    }
    .quantity-field {
        float: none;
    }
    .remove_cart_btn {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }
    .remove_cart_btn button {
        padding: 0;
    }
    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }
    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }
    .product-details {
        padding: 0 1rem;
    }
}