<!DOCTYPE html>
<html>
<head>
	<title>Page de connexion</title> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/css/styleconnexion.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>S'identifier</h2>
      <label>
        <span>Adresse mail</span>
        <input type="email" name="email">
      </label>
      <label>
        <span>Mot de passe</span>
        <input type="password" name="password">
      </label>
      <button class="submit" type="button">S'identifier</button>
      <p class="forgot-pass">Mot de passe oublié?</p>

      <div class="social-media">
        <ul>
          <li><img src="images/facebook.png"></li>
          <li><img src="images/twitter.png"></li>
          <li><img src="images/linkedin.png"></li>
          <li><img src="images/instagram.png"></li>
        </ul>
      </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>Nouveau ici?</h2>
          <p>Inscrivez-vous et découvrez notre monde !</p>
        </div>
        <div class="img-text m-in">
          <h2>Un de nous?</h2>
          <p>Si vous avez déjà un compte, connectez-vous. Vous nous avez manqué !</p>
        </div>
        <div class="img-btn">
          <span class="m-up">S'inscrire</span>
          <span class="m-in">S'identifier</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>S'inscrire</h2>
        <label>
          <span>Nom & prenom</span>
          <input type="text">
        </label>
        <label>
          <span>Adresse mail</span>
          <input type="email">
        </label>
        <label>
          <span>Mot de passe</span>
          <input type="password">
        </label>
        <label>
          <span>Confirmer votre mot de passe</span>
          <input type="password">
        </label>
        <button type="button" class="submit">S'inscrire maintenant</button>
      </div>
    </div>
  </div>
<script type="text/javascript" src="./assets/js/scriptconnexion.js"></script>
</body>
</html>